@font-face {
  src: url(../fonts/Recoleta-SemiBold.ttf);
  font-family: "Reco";
}

@font-face {
  src: url(../fonts/NotoSans-Regular.ttf);
  font-family: "Noto";
}

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #163A24;
  --light-green: #198C36;
  --text-color: #FBFAF7;
  --beige: #F2EFE6;
  --pink: #FAB5A0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
}

body {
  font-family: "Noto", sans-serif;
  font-weight: 400;
}

/* General */
.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 15px 25px;
  border-radius: 160px;
  background-color: var(--light-green);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto", sans-serif;
  color: var(--text-color);
}

.text-content .title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Reco", sans-serif;
}

.text-content .title.green {
  color: var(--green);
}

.text-content .title.white {
  color: var(--white);
}

.text-content .subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: "Noto", sans-serif;
  margin-top: 20px;
}

.text-content .subtitle.white {
  color: var(--text-color);
}

.text-content .subtitle.green {
  color: var(--green);
}

/* header */

.header {
  padding: 20px 0;
  background-color: var(--green);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: var(--text-color);
}

.header .container .burger {
  color: var(--white);
  font-size: 25px;
  display: none;
}

/* hero */
.hero {
  background-color: var(--green);
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* human */
/* play */
.human .container,
.play .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
}

.human .container .text-content,
.play .container .text-content {
  width: 374px;
}

/* Brands */
.brands .container {
  text-align: center;
  padding: 40px 0;
}

.brands .container .gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 66px 0;
}